/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #2d6bd8;
  --ifm-color-primary-darker: #2a65cc;
  --ifm-color-primary-darkest: #2253a8;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5990ea;
  --ifm-color-primary-lightest: #7aa8ed;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4fc3f7;
  --ifm-color-primary-dark: #2eb8f5;
  --ifm-color-primary-darker: #1eb2f4;
  --ifm-color-primary-darkest: #0a93d0;
  --ifm-color-primary-light: #6acdf8;
  --ifm-color-primary-lighter: #75d2f9;
  --ifm-color-primary-lightest: #9fe0fb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}